.signUpPage{
    background-color: rgb(17, 194, 194);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height:100vh;
    top:2.6em;
    width:100%;
}
.signUpCard{
    width: 350px;
    background-color: white;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signupForm{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    height:70%;
}
.title{
    width:100%;
}
h2{
    margin:0 0 0.3em 0;
}
.formDescription{
    color:grey;
}
.name{
    display: flex;
    justify-content: space-between;
    width:100%;
}
.firstName, .lastName{
    width: 45%;
 
}
input{
    width: 100%;
    height: 2.5em;
}
.longinput{
    margin:0.5em 0;
}
.submitButton {
    border-color: aqua;
    background-image: -webkit-linear-gradient(45deg, aqua 50%, transparent 50%);
    background-image: linear-gradient(45deg, aqua 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: 600ms ease-in-out;
    transition: 600ms ease-in-out;
    border-radius: 1em;
    padding:0.7em;
    width:10em;
    cursor:pointer;
}

.submitButton:hover {
    background-position: 0;
    color: white;
}
.login{
    color:white;
    margin:0.2em;
}
.loginLink{
    color:white;
}
.message.active{
    background-color: red;
    padding:0.5em 2em;
    margin:1em;
    color:white;
    border-radius:1em;
}
.socialLogins{
    width:100%;
    display:flex;
    justify-content: space-around;
    margin:1em;
}
.facebookButton{
    background-color: #4267B2;
    color: white;
    font-weight: 700;
    padding:0.4em;
    border-radius: 25px;
    cursor:pointer;
}
.facebookButton:hover{
    background-color: #22355b;
}
.googleButton{
    background-color: #DB4437;
    color: white;
    font-weight: 700;
    padding:0.4em;
    border-radius: 25px;
    cursor:pointer;
}
.googleButton:hover{
    background-color: #902e26;
}
.githubButton{
    background-color: #171515;
    color: white;
    font-weight: 700;
    padding:0.4em;
    border-radius: 25px;
    cursor:pointer;
}
.githubButton:hover{
    background-color: #5a5353;
}