
.ordersPage{
    position:absolute;
    top:2.6em;
    width:100%;
    background-color: aqua;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ordersContainer{
    width:70%;
   
    background-color: white;
    border-radius:1.5em;
    box-shadow:0px 25px 40px black;
}