.orderItemsPage{
    position:absolute;
    top:2.6em;
    width:100%;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.orderItemsContainer{
    background-color: white;
    width:70%;
    border-radius:1em;
    padding-bottom: 1em;
    
}
.orderHeader{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:0.5em 1em;
}
.orderHeader p{
    font-weight:700;
    font-size: 0.75em;
    margin:1em 1em;
}
.listOfOrderItems{
    border-top:1px solid black;
}
.returnOrders{
    margin:2em;
   
    background-color: #68d8d6;
    padding:1em;
    color:black;
    text-decoration: none;
    border: none;
    border-radius: 1em;
    float:left;
    transition: 100ms;
  }
  .returnOrders:hover{
    background-color: #1f5655;
    color:white;
  }