.adminPage{
    position: absolute;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    width: 100%;
    top:2.7em;
}
.navigationAdmin ul{
    display: flex;
    width:80%;
    margin:2em auto;
    justify-content: space-around;
    
}
.navigationAdmin ul li a{
    color:black;
    text-decoration: none;
    font-size: 2em;
    padding: 0.5em;
    font-weight: 800;
    border-radius: 0.5em;
}
.navigationAdmin ul li a:hover{
    background-color: aqua;
}
.navigationAdmin ul li  a .adminActive{
    border-radius: 0.5em;
    padding: 0.5em;
    font-weight: 800;
    background-color: aqua;
} 
.tableCard{
    margin:3em;
    padding:1em;
    background-color: white;
    border-radius:1.5em;
    box-shadow:0px 25px 40px black;
}