.image{
    width:20em;
    height:25em;
    background-color: grey;
}
.name{
    text-align: left;
    color:black;
    font-weight: 700;
    margin:0.5em;
}
.price{
    text-align: left;
    color:rgb(87, 87, 87);
    font-weight: 500;
    margin:0.5em;
}
.product{
    background-color: rgb(235, 235, 235);
    margin:1em;
    display:flex;
    flex-direction: column;
}
.seeMore{
    margin:0.5em;
    padding:1em;
    background-color: aqua;
    border-radius: 25px;
    text-align: center;
    color:black;
    text-decoration: none;
    font-size: 1em;
    transition: 200ms;
}
.seeMore:hover{
    background-color: rgb(3, 167, 167);
    color:white;
}