.productInfo{
    height:100vh;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position:absolute;
    top:2.6em;
    width:100%;
}
.imageInfo{
    margin:1em;
    height:400px;
    width:500px;
    background-color:grey;
}
.descrpition{
    margin:1em;
    width:500px;
}
.productTitle{
    font-size: 3em;
    text-transform: capitalize;
    font-weight: 700;
}
.priceInfo{
    border-top: 2px black solid;
    font-size:1.5em;
}
.ratings{
    margin:1em 0;
}
.productDetails h2{
    margin-bottom: 0.5em;
}
.productDetails p{
    font-size: 1.25em;
    color:grey
}
.productDetails .size{
    margin:0.5em 0;

}
.productDetails .size ul{
    display:flex;
    
}
.productDetails .size ul li{
    color:black;
    margin:0.5em 1em 0.5em 0;
    border: 1px black solid;
    text-align: center;
    border-radius: 3em;
    height:3em;
    line-height: 3em;
    width:3em;
    cursor: pointer;
    transition:0.3s;
}
.productDetails .size ul li:hover{
    background-color: #302f4e;
    color:white
}
.productDetailList{
    margin:1em 0;
}
.productDetailList li{
    margin:0.5em 0;
    color:black;
    font-weight:500;
    font-size: 1.2em;
}
.productDetailList li span{
    font-weight: 650;
    
}
.notInStock{
    color:rgb(235, 57, 57);
}
.inStock{
    color:green;
}
.addToCart{
    display:flex;
    align-items: center;
}
.addToCart input, .addToCart button{
    border:1.5px solid black;
    border-radius:25px;
    text-align: center;
    padding:0.5em;
    margin:1em 1em;

}
.addToCart input{
    line-height: 3em;
    height:3em;
    width:3em;
}
.addToCart button{
    display: flex;
    align-items: center;
    line-height: 3em;
    height:3em;
    cursor:pointer;
    color:black;
    background-color:lightseagreen;
}
.linksProductInfo{
    margin: 1em 0;
}
.linksProductInfo .signupLink, .linksProductInfo .loginLink{
    color:black;
    margin:0 1.5em 0 0;
    width:1em;
    background-color: aqua;
    padding:0.5em;
    border-radius: 2em;
}