*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  height:100%;
}
h1{
  margin:0;
}
nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  color:white;
  background-color: #302f4e;
  position: fixed;
  width:100%;
  top:0;
  z-index:1;
}
.logo{
  color:white;
  font-size: 1.35em;
  text-decoration: none;
  font-weight: 700;
}
.mainPage{
  position:absolute;
  top:3em;
}
.hero, .links{
  display: flex;
}
.navbar{
  margin:0.5em 1em;
} 
.hamburger{
  font-size:1.25em;
  cursor:pointer;
  background: none;
  color:white;
  border:none;
}
